 /*h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size:xx-large;
    color:crimson;
    text-align: center;
    position:relative;
    top: 200px;}

    width: 800px;
    padding-top:200px;
    margin: 0px;}*/

.p1 {
    background-image:url(img/kandinsky.png);
    width: 1000px;
    height: 600px;

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color:teal;
    position:sticky;
    top: 2px;}
    

.p2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color:black;
    width: 500px;
    position: relative;
    left: 30px;
    top: -600px;}

